<div class="form-horizontal">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary col-md-offset-1">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-trophy fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">
                                {{"{0}({1}) vs {2}({3})" | stringFormat:[gameLogicHandler.player1Stats.name,gameLogicHandler.player1Stats.previousPerfomance,gameLogicHandler.player2Stats.name,gameLogicHandler.player2Stats.previousPerfomance]}}
                            </div>
                            <div> {{"Rule for this game: {0}"| stringFormat:[gameLogicHandler.ruleName]}}</div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div>
                        <h3 class="text-center">{{gameLogicHandler.playerOnTurn | uppercase}}'s Turn</h3>
                        <hr class="col-md-11" />
                    </div>
                    <div ng-show="isPlayer1Turn()">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Select Move:</label>
                            <div class="col-sm-6">
                                <select class="col-md-3 form-control" ng-model="gameLogicHandler.player1Move" ng-options="val.text as val.value for val in gameLogicHandler.availableMoves"></select>
                            </div>
                            <button class="btn btn-info" ng-click="player1MakeMove()"><i class="fa fa-check"></i> Play</button>
                        </div>
                    </div>
                    <div ng-show="isPlayer2Turn()">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Select Move:</label>
                            <div class="col-sm-6">
                                <select class="col-md-3 form-control" ng-model="gameLogicHandler.player2Move" ng-options="val.text as val.value for val in gameLogicHandler.availableMoves"></select>
                            </div>
                            <button class="btn btn-info" ng-click="player2MakeMove()"><i class="fa fa-check"></i> Play</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-4">
                                <i class="fa fa-bell fa-fw"></i> Log Panel
                            </div>
                            <div class="col-md-3">
                                <div>Round {{gameLogicHandler.currentRound}}</div>
                            </div>
                            <div class="col-md-5">
                                {{gameLogicHandler.player1Stats.name | uppercase}} {{gameLogicHandler.player1Stats.wonRounds + ' - '+ gameLogicHandler.player2Stats.wonRounds}} {{gameLogicHandler.player2Stats.name | uppercase}}
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="list-group">
                            <a class="list-group-item" ng-repeat="round in gameLogicHandler.rounds">
                                <!--<i class="fa fa-circle fa-fw" style="color: #3b99d9"></i>--> <!--{{round.roundResult}}-->
                                <i class="fa fa-fw" ng-class="{'fa-circle': round.roundResult != 'Tie', 'fa-minus': round.roundResult == 'Tie'}"
                                   ng-style="{ 'color' :  (round.roundResult == 'Tie')?'#f09030':((round.roundResult == 'Player 1 Won')?'#3b99d9':'#f75c31')}"></i> {{round.roundResult}}
                                <span class="pull-right text-muted small">
                                    <em>{{round.player1Move +' vs '+ round.player2Move}}</em>
                                </span>
                            </a>                           
                        </div>
                        <!-- /.panel-body -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>