<div class="form-horizontal">
    <div class="row">
        <div class="col-md-8 col-lg-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart"></i> Stats
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <!-- Nav tabs -->
                    <a href="#/home/start" class="btn btn-primary pull-right"><i class="fa fa-reply"></i></a>

                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-target="#individualStats" data-toggle="tab"><i class="fa fa-user"></i> Individual Stats</a>
                        </li>
                        <li>
                            <a data-target="#generalStats" data-toggle="tab"><i class="fa fa-users"></i> Versus</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="individualStats">
                            <div class="row" style="padding-top: 30px">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Select Player:</label>
                                        <div class="col-md-9">
                                            <select class="form-control" ng-model="currentPlayer.id" ng-options="val.value as val.text for val in availablePlayers" ng-change="updatePlayerStats()"></select>
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-6 control-label">Matches Won:</label>
                                                <div class="col-md-6">
                                                    <p class="form-control-static">{{currentPlayer.wons}}</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-6 control-label">Rounds Won:</label>
                                                <div class="col-md-6">
                                                    <p class="form-control-static">{{currentPlayer.roundsWon}}</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-6 control-label">Rounds Tied:</label>
                                                <div class="col-md-6">
                                                    <p class="form-control-static">{{currentPlayer.roundsTied}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-6 control-label">Matches Lost:</label>
                                                <div class="col-md-6">
                                                    <p class="form-control-static">{{currentPlayer.lost}}</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-6 control-label">Rounds Lost:</label>
                                                <div class="col-md-6">
                                                    <p class="form-control-static">{{currentPlayer.roundLost}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="generalStats">
                            <div class="row" style="padding-top: 30px">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Player 1:</label>
                                        <div class="col-md-8">
                                            <select class="form-control" ng-model="player1Stats.name" ng-options="val.value as val.text for val in availablePlayers"></select>
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Player 2:</label>
                                        <div class="col-md-8">
                                            <select class="form-control" ng-model="player2Stats.name" ng-options="val.value as val.text for val in availablePlayers"></select>
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-success" ng-click="faceToFaceComparisson()"><i class="fa fa-arrow-right"></i></button>
                                </div>
                            </div>
                            <hr/>
                            <div class="col-md-10 col-md-offset-1">
                                <div class="row">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            Face to Face Comparison
                                        </div>
                                        <!-- /.panel-heading -->
                                        <div class="panel-body">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Played</th>
                                                            <th>Won</th>
                                                            <th>Lost</th>
                                                            <th>Rounds Won</th>
                                                            <th>Rounds Lost</th>
                                                            <th>Rounds Tied</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="info in statsInfo">
                                                            <td>{{info.name}}</td>
                                                            <td>{{info.played}}</td>
                                                            <td>{{info.won}}</td>
                                                            <td>{{info.lost}}</td>
                                                            <td>{{info.roundsWon}}</td>
                                                            <td>{{info.roundsLost}}</td>
                                                            <td>{{info.roundsTied}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- /.table-responsive -->
                                        </div>
                                        <!-- /.panel-body -->
                                    </div>
                                </div>

                            </div>
                        </div>
                        </div>
                    </div> 
                    <!-- /.panel-body -->
                    <div class="panel-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
