
<div data-ng-view></div>

@section scripts
{
    <script src="~/app/js/gameOfDrones/startGameController.js"></script>
    <script src="~/app/js/gameOfDrones/statsController.js"></script>
    <script src="~/app/js/gameOfDrones/configurationController.js"></script>
}